* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

details {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0px 10px 15px lightgrey;
}

summary {
    display: flex;
    justify-content: space-between;
    background-color: white;
    list-style: none;
    
}

details p {
    background-color: white;
}

.buttons {
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 80%;
}

button {
    background-color: white;
    border: none;
    font-weight: bold;
    color: rgb(0, 174, 255);
}

summary::after {
    content: '';
    width: 18px;
    height: 15px;
    background: url('down.svg');
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

img{
    width:80%;
}