.vscode/launch.json
despliegue/UbuntuServer_22.04.ova
despliegue/Tema 4/Tarea2/1.png
despliegue/Tema 4/Tarea2/2.png
despliegue/Tema 4/Tarea2/3.png
despliegue/Tema 4/Tarea2/4.png
despliegue/Tema 4/Tarea2/5.png
despliegue/Tema 4/Tarea2/6.png
despliegue/Tema 4/Tarea2/7.png
despliegue/Tema 4/Tarea2/8.png
despliegue/Tema 4/Tarea2/9.png
despliegue/Tema 4/Tarea2/10.png
despliegue/Tema 4/Tarea2/11.png
despliegue/Tema 4/Tarea2/12.png
despliegue/Tema 4/Tarea2/13.png
despliegue/Tema 4/Tarea2/14.png
despliegue/Tema 4/Tarea2/15.png
despliegue/Tema 4/Tarea2/16.png
despliegue/Tema 4/Tarea2/17.png
despliegue/Tema 4/Tarea2/18.png
despliegue/Tema 4/Tarea2/19.png
despliegue/Tema 4/Tarea2/20.png
despliegue/Tema 4/Tarea2/21.png
despliegue/Tema 4/Tarea2/22.png
despliegue/Tema 4/Tarea2/23.png
