body{
    margin:0;
}
.container {
    display: flex;
    justify-content: top;
    align-items: top;
}

.content{
    padding:3vh;
}

.links{
    position: sticky;
    top: 1vh;
}

#iconCollapseExpand{
position: sticky;
top:1vh;
}

.iconCollapse {
    transition: transform 1s;
    transform: rotate(-90deg);
    width: 5vh;
    height: 5vh;
}

.iconExpand{
    transition: transform 1s;
    transform: rotate(90deg);
    width: 5vh;
    height: 5vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: rgb(120, 120, 238);
    padding: 5vh;
    width:8vh;
    align-self: stretch;
    transition: padding  2s ease, width 2s ease;
}

.sidebar a {
    opacity: 100;
    transition:opacity 1s;
}

.sidebarCollapsed{
    padding: 1vh;
    width:0.5vh;
}

.sidebarCollapsed a{
    
    opacity: 0;
} 
a{
    font-style: bold;
    font-size: larger;
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color: black;
}

@media(max-width:1000px), (max-height: 600px){
    .container{
        flex-direction: column;
    }
    .sidebar{
        
        width:100%;
        transition: padding 0s;
    }
    #iconCollapseExpand{
        visibility: hidden;
    }
    .sidebarCollapsed{
        padding: 5vh;
        width:100%;
    }
    
    .sidebarCollapsed a{
        
        opacity: 100;
        
    } 
}