@import url('https://fonts.cdnfonts.com/css/new-gothic-style');
    
*{
    background-color: black;
}
p {
    color:white;
    font-family: 'New Gothic Style', sans-serif;

    font-style: italic;

    margin:5%;
	text-align:center;
	font-size: 1.2rem;
}

p::first-letter {

	initial-letter: 6;
	padding: 0.25rem;
}

.wrapper{
    padding: 1px;
    border-radius: 2%;
   border: 1px solid white;
	margin:20%;
}